{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}

<style>
	.grid-container {
		display: inline-grid;
		grid-template-columns: auto auto auto;
		margin-left: -10px;
		margin-right: -10px;
	}

	.grid-item {
		padding: 10px;
		font-size: 30px;
	}

	.education-box:hover 
    {
        transform: scale(1.025);
    }

    #fade-in {
        animation: fadein 1s;
        -moz-animation: fadein 1s; /* Firefox */
        -webkit-animation: fadein 1s; /* Safari and Chrome */
        -o-animation: fadein 1s; /* Opera */
    }

    a {
        color: #B2211D;
        background-color: transparent;
        text-decoration: none;
    }
	@keyframes fadein {
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }

    @-moz-keyframes fadein { /* Firefox */
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }

    @-webkit-keyframes fadein { /* Safari and Chrome */
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }

    @-o-keyframes fadein { /* Opera */
        from {
            opacity:0;
        }
        to {
            opacity: 1;
        }
    }
</style>

<div style="display: flex; justify-content: center; padding-top: 100px; padding-bottom: 30px; background-color: #FEF4D8; border-bottom: #B2211D; border-bottom-style: solid;">
    <div class="container">
        <div class="row justify-content-left">
            <div id="fade-in">
                <div class="col-auto">
                    <h1 style="text-align: left;">My Portfolio 🎨</h1>
                    <p style="text-align: left;">{{portfolio_intro}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="fade-in">
    <div style="display: flex; justify-content: center; padding-top: 50px; padding-bottom: 20px; ">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-auto">
                    <h2>Currently under construction 🧑🏻‍🔧</h2>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}